[Unit]
Description=api example for deploy

[Service]
ExecStart=~/workshop_deploy/venv/bin/activate main.py
Restart=always

[Install]
WantedBy=multi-user.target