[Unit]
Description=api example for deploy

[Service]
ExecStart=/home/student/workshop_deploy/venv/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target